@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.background-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    174deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 128, 31, 1) 100%
  );
}

.font-outline-1 {
  -webkit-text-stroke: 2px rgb(52, 52, 52);
  -webkit-text-fill-color: transparent;
}

.font-outline-2 {
  -webkit-text-stroke: 2px #d39780;
  -webkit-text-fill-color: transparent;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.typing_anime_text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 2px solid seagreen; */
  animation: typing 2s steps(16);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* CustomPagination.css */
.custom-pagination {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pagination-item {
  width: 10px;
  height: 10px;
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
}

.pagination-item.active {
  -webkit-text-stroke: 2px rgb(52, 52, 52);
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  transform: translateY(-10px);
  border-bottom: 14px solid#d39780;
  width: 20px;
}

.slider-container {
  max-width: 600px; /* Adjust the container width as needed */
  margin: 0 auto;
}
